/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background: radial-gradient(at top left, rgb(50, 50, 50), blue);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 }

 main {
  display: flex;
  flex-direction: column;
 }

 .applications {
  display: flex;
  flex-direction: column;
 }

 .title {
  width: 30vw;
 }

 .info {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
 }

 .info >* {
  margin-left: 1em;
  padding-right: 2em;
  border-right: solid 1px lime;
  height: 100%;
  min-width: 10vw;
 }

 .sent {
  background-color: rgb(0, 0, 255, .3);
  border: 1px solid aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .2em;
 }

 .pending {
  background-color: rgb(0, 128, 0, .3);
  border: 1px solid lime;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .2em;
 }

 .rejected {
  background-color: rgb(255, 0, 0, .3);
  border: 1px solid orangered;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .2em;
 }

 a {
  color: lime;
 }

 a:visited {
  color: orangered;
 }

 button {
  border: 1px solid blueviolet;
  background: rgb(0, 0, 0, .5);
  color:aquamarine;
  padding: .2em;
  margin: .2em;
 }

 button:hover {
  background: rgb(127, 255, 212, .5);
  color: blueviolet;
 }

 input[type=submit] {
  border: 1px solid blueviolet;
  background: black;
  color:aquamarine;
  padding: .2em;
  margin: .2em;
 }

 input[type=submit]:hover {
  background: aquamarine;
  color: blueviolet;
 }

 .app {
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 30vw;
 }

 .form-element {
  display: flex;
  flex-direction: column;
 }